<div class="container">
  <div id="show-menu">
    <ul>
      <li>
        <a href="">詳細</a>
      </li>
      <li>
        <a href="">コメント</a>
      </li>
      <li>
        <a href="">ユーザ情報</a>
      </li>
    </ul>
  </div>
  <section id="video-show">
    こちらは動画詳細ページ
  </section>
  <section id="video-comment">
    こちらはコメントページ
  </section>
  <section id="user-show">
    こちらはユーザ情報
  </section>
</div>
