<h1>投稿一覧</h1>
<% @posts.each do |post| %>
  <div id="index">
    <div class="post-user-name">
      <%= link_to post.user.name, edit_user_registration_path %>
    </div>
    <div class="post-title">
      <%= link_to post.title, post_path(post) %>
    </div>
    <div>
      <%= post.content %>
    </div>
  </div>
<% end %>
